# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [16]:
CREATE TABLE ashleyw.bakes(
    bake_id INT PRIMARY KEY IDENTITY (1,1),
    label VARCHAR (50) NOT NULL,
    serving_size INT NOT NULL
);

In [17]:
SELECT * FROM ashleyw.bakes;

Add three rows to your table that are your planned makes.

In [18]:
INSERT INTO ashleyw.bakes (label, serving_size)
VALUES ('cake', 8);

INSERT INTO ashleyw.bakes (label, serving_size)
VALUES ('bread', 4);

INSERT INTO ashleyw.bakes (label, serving_size)
VALUES ('cookies', 12);

In [19]:
SELECT * FROM ashleyw.bakes;

bake_id,label,serving_size
1,cake,8
2,bread,4
3,cookies,12

## Update a Row

Change different values in one of your three rows.

In [20]:
UPDATE ashleyw.bakes 
SET serving_size = 6
WHERE bake_id = 2;

## Delete a Row

Delete one of the rows from your table.

In [21]:
DELETE FROM ashleyw.bakes 
WHERE bake_id = 2;

## Drop the Table

While this has been fun, it is time to drop the table!

In [22]:
DROP TABLE ashleyw.bakes;